body{
    background: #7FFFD4;
    font: normal 15pt Arial;
}

header{
    color:white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.192);

}

footer{
    color: white;
    text-align: center;
    font-size: italic;

}

#btn{
    background-color: #7FFFD4;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;   
    text-align: center;
    font: normal 15pt Arial;
    user-select: none;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.192);
}

#btn:hover{
    background-color: #26f8b2;

}